<ng-container *ngIf="isPokeWordFound$ | async as pokeList">
  <div class="word-list__wrapper">
    <app-word-list-toggle></app-word-list-toggle>
    <ng-container *ngIf="toggleWordList$ | async as state">
      <ul
        [class.word-list-images]="!state.toggleWordList"
        [class.word-list-words]="state.toggleWordList"
      >
        <li
          class="word-list__item"
          *ngFor="let pokemon of pokeList; index as indexEven"
        >
          <img
            class="word-list-images__image-item"
            *ngIf="!state.toggleWordList"
            [src]="pokemon.urlSvg"
            [alt]="pokemon.word"
            [class.word-list-images__image-item--is-found]="pokemon.isFound"
            [class.word-list-images__image-item--not-found]="!pokemon.isFound"
          />
          <span
            class="word-list-words__word-item"
            *ngIf="state.toggleWordList"
            [class.word-list-words__word-item--is-found]="pokemon.isFound"
            [class.word-list-words__word-item--not-found]="!pokemon.isFound"
            >{{ pokemon.word }}</span
          >
        </li>
      </ul>
    </ng-container>
  </div>
</ng-container>
