@import "../../../../styles/sass/main";

.word-list {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;

    align-items: center;
  }
}

.word-list-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__image-item {
    height: 7rem;
    margin-bottom: 1rem;

    &--is-found {
      filter: grayscale(0);
      text-decoration: line-through;
    }

    &--not-found {
      filter: grayscale(1);
    }
  }
}

.word-list-words {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  &__word-item {
    @extend .heading-secondary;
    color: $wheat;
    display: block;

    &--is-found {
      text-decoration: line-through;
    }

    &--not-found {
    }
  }
}

span.not-found {
  filter: unset;
}
span {
  margin: 0 1rem;
}
