<form class="header__login-form" [formGroup]="loginForm">
  <div class="header__login-form--field-wrapper">
    <label for="email-input">Email</label>
    <input formControlName="email-input" type="email" placeholder="Email" />
  </div>
  <div class="header__login-form--field-wrapper">
    <label for="password-input">Password</label>
    <input
      formControlName="password-input"
      type="text"
      placeholder="Password"
    />
  </div>
  <button type="submit">Submit</button>
</form>
<!-- <form [formGroup]="form">
  <fieldset>
    <legend>Login</legend>
    <div class="form-field">
      <label>Email:</label>
      <input name="email" formControlName="email" />
    </div>
    <div class="form-field">
      <label>Password:</label>
      <input name="password" formControlName="password" type="password" />
    </div>
  </fieldset>
  <div class="form-buttons">
    <button class="button button-primary" (click)="login()">Login</button>
  </div>
</form> -->
