.ws {
  &__container {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  &__grid {
    grid-column: 2/3;
    grid-row: 1/2;
    height: min-content;
    border: 0.2rem solid #000000;
    border-radius: 1rem;
    margin: 1rem;
  }

  &__list {
    &--left {
      max-width: calc(3 * min-content);
      grid-column: 1/2;
    }

    &--right {
      max-width: calc(3 * min-content);
      grid-column: 3/4;
    }
  }
}
