.ws {

  &__container {
    display: grid;
    justify-content: center;
    align-items: top;
  }

  &__grid {
    grid-column: 2/3;
    height: min-content;
    border: 0.2rem solid #000000;
    border-radius: 1rem;
    margin: 1rem;
  }

  &__list {
    &--left {
      grid-column: 1/2;
    }

    &--right {
      grid-column: 3/4;
    }
    
  }
}