@import "/src/styles.scss";

.grid {
  &__tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;

    &:hover {
      background-color: grey;
    }
  }
}

.tile {
  &__content {
    text-transform: uppercase;
    font-family: $default;
    font-size: 1.5rem;
    color: $black;
  }
}
