<main class="homepage">
	<section class="homepage__auth-wrapper homepage__register">
		<div>
			<h2 class="heading-secondary">First time playing?</h2>
			<strong>Register below!</strong>
			<p>Registering grants you access to features like:</p>
			<ul>
				<li>- Pause/Resuming game session.</li>
				<li>- Your top score results.</li>
			</ul>
		</div>
		<app-register></app-register>
	</section>
	<section class="homepage__auth-wrapper homepage__login">
		<div>
			<h2 class="heading-secondary">Have an account?</h2>
			<strong>Login!</strong>
		</div>
		<app-login></app-login>
	</section>
</main>
