$black: #000000;
$white: #ffffff;
$orange: #fbab7e;
$wheat: wheat;

$blue-gradient: linear-gradient(309deg, #0093e9, #80d0c7);
$yellow-gradient: linear-gradient(62deg, #fbab7e 0%, #f7ce68 43%, #ffffff 100%);

$shadow: 1px 1px 1px black;
$section-padding: 150px;
$defaultFont: "Press Start 2P", cursive;
$border-radius: 50px;
$box-padding: 10px;
