$black: #000000;
$white: #ffffff;
$orange: #fbab7e;
$wheat: wheat;

$blue-gradient: linear-gradient(309deg, #0093e9, #80d0c7);
$yellow-gradient: linear-gradient(62deg, #fbab7e 0%, #f7ce68 43%, #ffffff 100%);

$defaultFont: "Press Start 2P", cursive;
