@import '/src/styles.scss';

.grid {

  &__tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border: 0.1rem solid transparent;
    transition: all .2s;

    &--selected {
      background-color: $light-grey;
    }

    &:hover{
      border: 0.1rem solid rgba($black, 0.2);
      
    }
  }
}

.tile {

  &__content {
    text-transform: uppercase;
    font-family: $default;
    font-size: 1.5rem;
    color: $black;
    line-height: 0;
  }
}

.is-word {
  color: red;
}