<!-- <header class="section-padding">
  <h1 class="app__title">{{ title }}</h1>

  <article class="instructions">
    <h2>Catch Them All!</h2>
    <p>Pokemons can be found in five different orientations:</p>
    <ul>
      <li>Horizontal and Horizontal Reversed</li>
      <li>Vertical and Vertical Reversed</li>
      <li>Diagonal Left-to-Right-Top-to-Bottom</li>
    </ul>
    <p>
      Click the letters to form the Pokemon name. When a match is found the
      Pokemon gets colored and its name is crossed out from the list!
    </p>
  </article>
</header> -->

<main class="section-padding">
  <router-outlet></router-outlet>
  <!-- <ws-game></ws-game> -->
</main>
<!-- 
<footer class="section-padding">
  <article class="disclaimer">
    <h3 class="disclaimer__title">Disclaimer</h3>
    <p>
      <a href="https://github.com/diegomouradev/ws-game"
        >Pokemons Word Search</a
      >
      is developed in Angular10 by
      <a href="https://github.com/diegomouradev">Diego Moura</a> using the
      <a href="https://pokeapi.co/">PokeAPI</a> and the game is still under
      implementation. Make sure to follow the project on GitHub to get
      notifications on updates.
    </p>
    <p>
      Visit the Github repository for questions, issues, and suggestions. This
      is a self-teaching project so no pull requests are accepted, otherwise how
      would I learn, right?.
    </p>
  </article>
</footer> -->
