
h2 {
  font-family: sans-serif;
  font-size: 3rem;
  text-align: center;
}
.app {

  &__title {
    font-family: sans-serif;
    font-size: 5rem;
    text-align: center;
  }

  &__container {
    display: flex;
    justify-content: center;
  }

  &__grid {
    padding: 3rem;
  }

  &__list {
    padding: 3rem;
    
  }
}