@import '/src/styles.scss';

h2 {
  font-family: $default;
  font-size: 3rem;
  text-align: center;
}
.app {

  &__title {
    font-family: $default;
    font-size: 5rem;
    text-align: center;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__grid {
    border: 0.2rem solid $black;
    padding: 0rem;
    margin: 3rem;
  }

  &__list {
    padding: 3rem;
    
  }
}