@import "/src/styles.scss";

h2 {
  font-family: $default;
  font-size: 3rem;
  text-align: center;
}
.app {
  &__title {
    font-family: $default;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.instructions {
  display: grid;
  width: 100%;
  padding: 0 50px;
  text-align: center;
  margin-bottom: 1rem;
}

.disclaimer {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-top: 1rem;

  &__title {
    padding: 1rem;
  }
}

header {
  width: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
