@import '/src/styles.scss';

.word-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.list-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: $default;
  font-size: 1rem;
  color: black;
  text-transform: uppercase;
  margin: 2rem;
  filter: grayscale(100%);

  &__completed {
    text-decoration: line-through;
    filter: grayscale(0%);
  }
}

.list-icon {
  max-width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}

svg {
  max-width: 5rem;
  height: 5rem;
}

