.ws {
  &__container {
    display: grid;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }

  &__grid {
    grid-column: 2/3;
    grid-row: 1/2;

    border: 0.1rem solid #000000;
  }

  &__list {
    &--left {
      max-width: calc(3 * min-content);
      grid-column: 1/2;
    }

    &--right {
      max-width: calc(3 * min-content);
      grid-column: 3/4;
    }
  }
}
