<ng-container >
    <section class="word-list">
        <div *ngFor="let pokemon of pokeList$ | async; index as index;">
            <img *ngIf="listConfig === 'even' && index % 2 === 0" width="50px"  [src]="pokemon.urlSvg" [alt]="pokemon.word" [class.found]="pokemon.isFound"  [class.not-found]="!pokemon.isFound">
            <img *ngIf="index % 2 === 1 && listConfig === 'odd'" width="50px"  [src]="pokemon.urlSvg" [alt]="pokemon.word" [class.found]="pokemon.isFound"  [class.not-found]="!pokemon.isFound">
        </div>
    </section>
</ng-container> 