
.word-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.068);
    border-radius: 3rem;
    box-shadow: .1rem .1rem .1rem rgba(0,0,0,.2);

    &__wrapper {
        grid-column: 1/-1;
        grid-row: 1/2;
        display: grid;
        grid-auto-columns: .5fr .6fr .5fr;
        padding: 0 25px;
    }

    &__left {
        grid-column: 1/2;
    }
    &__right {
        grid-column: 3/4;
    }
}

.word-list div {
    padding: 0 5px;
}

.found {
    filter: grayscale(0);
}

.not-found {
    filter: grayscale(1);
}