.word-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.word-list div {
    padding: 0 5px;
}

.found {
    filter: grayscale(0);
}

.not-found {
    filter: grayscale(1);
}