@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
/* You can add global styles to this file, and also import other style files */

// Variables
$black: #000000;
$white: #ffffff;
$dark-grey: #333333;
$medium-grey: #5e5e5e;
$light-grey: #aaaaaa;
$default: "Press Start 2P", cursive;

html {
  font-family: $default;
  font-size: 62.5%; // 1rem = 10px
}

body {
  padding: 50px;
  background-image: linear-gradient(309deg,#0093e9,#80d0c7);
}

.app {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

li {
  list-style: none;
  margin-bottom: 1rem;
}
