.main-grid {
  display: grid;
  grid-template-columns: .5fr 1fr .5fr;
  grid-template-rows:  1fr;
  align-items: center;
  justify-content: center;

}

.game-board {
  grid-column: 1/-1;
  grid-row: 1/2;
  position: relative;
  z-index: 10;
  background-color: transparent;
  border: 0.1px solid black;
  justify-self: center;
  border-radius: 10px;
  overflow: hidden;

  &__row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__tile {
    padding: 6px;
   
  }
}

.word-list__wrapper {
  
    grid-column: 1/-1;
    grid-row: 1/2;

}