
<ng-container *ngIf="gameBoard$ | async as gameBoard" >
  
  <main class="main-grid">
      <app-word-list [toggleWordList]="form$ | async"></app-word-list>
     
      <div #gameBoardEl class="game-board" >
        <app-board-canvas #canvas [gameBoardEl]="gameBoardEl"></app-board-canvas>
        <div  class="game-board__row" *ngFor="let rows of gameBoard">
            <app-board-tile   *ngFor="let tile of rows" [tile]="tile"></app-board-tile>
        </div>
      </div>

      <form class="settings-form" [formGroup]="form" id="settingsForm">
        <label class="game-btn" for="toggleWordList">Toggle Name</label>
        <input class="hide-checkbox" id="toggleWordList" type="checkbox" formControlName="toggleWordList" [value]="form.value.toggleWordList">
        <button class="game-btn" (click)="canvas.resetSelection()">Undo Selection</button>
      </form>
    </main>
</ng-container>


