.main-grid {
  display: grid;
  grid-template-columns: .5fr 1fr .5fr;
  align-items: center;
}

.game-board {
  width: min-content;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  background-color: transparent;
  border: 0.5px solid gray;
  justify-self: center;
  &__row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__tile {
    padding: 5px;
   
  }
}
