.main-grid {
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: min-content 1fr;
  align-items: center;
  row-gap: 50px;
}

.game-board {

  position: relative;
  z-index: 10;
  background-color: transparent;
  border: 0.1px solid black;
  justify-self: center;
  border-radius: 10px;
  overflow: hidden;

  &__row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__tile {
    padding: 6px;
   
  }
}
