
<ng-container *ngIf="gameBoard$ | async as gameBoard" >

  
    <main class="main-grid">
      
        <app-word-list class="word-list__wrapper" [toggleWordList]="form$ | async"></app-word-list>
      

      <div #gameBoardEl class="game-board" >

        <app-board-canvas #canvas [gameBoardEl]="gameBoardEl"></app-board-canvas>

        <div  class="game-board__row" *ngFor="let rows of gameBoard">
            <app-board-tile   *ngFor="let tile of rows" [tile]="tile"></app-board-tile>
        </div>

      </div>
      <form [formGroup]="form" id="settingsForm">
        <div class="settings-form__feature-wrapper">
          <label for="toggleWordList">Show Pokemon Names</label>
          <input id="toggleWordList" type="checkbox" formControlName="toggleWordList" [value]="form.value.toggleWordList">
        </div>

        <button class="game-btn" (click)="canvas.resetSelection()">Undo Selection</button>
      </form>
    </main>

</ng-container>


